@model AnnonsonMVC.ViewModels.ArticelViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Skapa Annons</h2>
<hr />
<div class="row">
    <div class="col-md-20">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Rubrik</label>
                    <input asp-for="Name" class="form-control"/>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label">Beskrivning</label>
                    <input asp-for="Description" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label">Pris</label>
                    <input asp-for="Price" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="PriceUnit" class="control-label">Prisenhet</label>
                    <input asp-for="PriceUnit" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="PriceText" class="control-label">Prísbeskrivning</label>
                    <input asp-for="PriceText" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="PublishBegin" class="control-label">Start datum</label>
                    <input asp-for="PublishBegin" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="PublishEnd" class="control-label">Slut datum</label>
                    <input asp-for="PublishEnd" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Category" class="control-label">Kategori</label>
                    <select asp-for="Category.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>

                <div>
                    <a asp-action="Index">Tillbaka</a>
                </div>

            </div>

            <div class="col-md-5">

                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label">Annonsbild</label>
                    <div>
                        <span asp-validation-for="ImageFile" class="text-danger">Ladda upp bild</span>
                        <input asp-for="ImageFile" id="ImageFile" name="ImageFile" onchange="loadFile(event)" />
                        <img id="output" class="ImagePreview"/>
                    </div>  
                </div>

                <div class="form-group">
                    <label asp-for="Company.CompanyId" class="control-label">Företag</label>
                    <select asp-for="Company.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                </div>

                <div class="form-group">
                    <label asp-for="Stores" class="control-label">Butiker</label>
                    <select asp-for="StoreIds" multiple="multiple" class="form-control" asp-items="@ViewBag.StoreId"></select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" style="float: right" class="btn btn-primary" />
                </div>           
            </div>
            <style>
                .ImagePreview {
                    max-height: 300px;
                    max-width: 300px;
                }
            </style>
        </form>
    </div>
</div>
<div>


</div>


@section Scripts {

    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
