@model AnnonsonMVC.ViewModels.ArticelViewModel
@{
    ViewData["Title"] = "Create";
}
<h2>Skapa Annons</h2>
<hr />
<div class="row">
    <div class="col-md-4" style="float:left;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Namn</label>
                <input asp-for="Name" class="form-control" asp-items="ViewBag.Name" />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivning</label>
                <input asp-for="Description" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Pris</label>
                <input asp-for="Price" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PriceUnit" class="control-label">Prisenhet</label>
                <input asp-for="PriceUnit" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PriceText" class="control-label">Prísbeskrivning</label>
                <input asp-for="PriceText" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label">Företag</label>
                <select asp-for="Company" class="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>

            <div class="form-group">
                <label asp-for="PublishBegin" class="control-label">Start datum</label>
                <input asp-for="PublishBegin" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="PublishEnd" class="control-label">Slut datum</label>
                <input asp-for="PublishEnd" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="ArticleCategory" class="control-label">Kategori</label>
                <select asp-for="ArticleCategory" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>

            <div class="form-group">
                <label asp-for="StoreArticle" class="control-label">Butik</label>
                <select asp-for="StoreArticle" class="form-control" asp-items="ViewBag.StoreId"></select>
            </div>

            <div class="form-group" style="float: right;">
                <input type="submit" value="Create" style="float: right" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
