@model AnnonsonMVC.ViewModels.ArticleCreateViewModel
@{
    ViewData["Title"] = "Create";
}
<body class="bodyColor">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Skapa Annons</h3>
                </div>
                <div class="panel-body">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <div>
                                <input asp-for="ImageFile" accept="image/*" id="ImageFile" name="ImageFile" onchange="loadFile(event)" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                                <img id="output" class="ImagePreview" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Rubrik</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label">Pris</label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PriceUnit" class="control-label">Prisenhet</label>
                                <input asp-for="PriceUnit" class="form-control" />
                                <span asp-validation-for="PriceUnit" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PriceText" class="control-label">Prisbeskrivning</label>
                                <input asp-for="PriceText" class="form-control" />
                                <span asp-validation-for="PriceText" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Beskrivning</label>
                                <textarea id="descriptiontext" asp-for="Description"
                                          data-val-required="Annonsen måste ha en beskrivning."
                                          data-val-maxlength-max="5000"> 
                                            </textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="PublishBegin" class="control-label">Start datum</label>
                                <input asp-for="PublishBegin" class="form-control" />
                                <span asp-validation-for="PublishBegin" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PublishEnd" class="control-label">Slut datum</label>
                                <input asp-for="PublishEnd" class="form-control" />
                                <span asp-validation-for="PublishEnd" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label">Kategori</label>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Company.CompanyId" class="control-label">Företag</label>
                                <select asp-for="Company.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Stores" class="control-label">Butiker</label>
                                <select asp-for="StoreIds" multiple="multiple" id="storelist" asp-items="@ViewBag.StoreId"></select>
                                <span asp-validation-for="StoreIds" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <input type="submit" value="Skapa" style="float: right;" class="btn btn-success" />
                            <input type="button" style="float: left;" onclick="window.location.href = '@Url.Action("Index")';" value="Tillbaka" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/SelectListScript.js"></script>
}
